<section id="services" class="mb-14 scroll-mt-8 md:mb-22">
  <div class="flex items-center gap-2">
    <p class="inline-flex items-center gap-2 text-base font-bold whitespace-nowrap text-gray-500">
      <mat-icon class="size-4.5" svgIcon="workflow" />
      Services
    </p>
    <div class="h-px w-full bg-gray-300"></div>
  </div>
  <h2 class="mt-3 mb-6 max-w-[18ch] text-3xl leading-tight font-bold text-gray-950 md:text-4xl">
    I build, deploy and maitain reliable apps.
  </h2>
  <div class="grid gap-y-7">
    <p class="mt-3 text-lg leading-7 text-gray-600">
      I turn product ideas into viable, secure, and reliable applications by combining fullstack web development, clean
      architecture, deployment automation, and production-ready operations.
    </p>
  </div>
  <mat-chip-set class="mt-6 block" aria-label="Tools and capabilities">
    @for (tool of tools; track tool.label) {
    <mat-chip class="mb-2 mr-2">
      @if (tool.logo) {
      <img matChipAvatar [src]="tool.logo" alt="{{ tool.label }} logo" />
      } {{ tool.label }}
    </mat-chip>
    }
  </mat-chip-set>
</section>
